body {
  font-family: arial;
  color: #333;
  background: #c0c0c0;
}
h1 {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}
form {
  width: 500px;
  margin: 20px auto;
}
input {
  display: block;
  padding: 8px 16px;
  font-size: 2em;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none !important;
}

/* validation in js */
input.valid {
  border-color: #36cc36;
}

input.invalid {
  border-color: orange;
}

input + p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}

input.invalid + p {
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
/* 
#button1 {
  text-align: center;
  align-content: center;
  padding-left: 100px;
  margin: 100px;
} */
.btn-lg {
  padding-left: 200px;
  padding-right: 200px;
  margin-left: 530px;
}
